<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <%= image_tag @user.avatar.url(:medium) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<h1>Arts Work</h3>
	<% @user.arts.each do |art| %>
		<p>
			<%= art.title %>
      <%=art.artpic_file_name%>
    </p>
	<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
