<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <%= image_tag @user.avatar.url(:medium) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<% if user_signed_in? && @user.id == current_user.id %>
  <%= link_to 'Edit my profile.', edit_user_path(@user) %>
<% end %>

<h1>Arts Work</h3>
	<% @user.arts.each do |art| %>
			<div class="artpic_div">
        <h2><%= link_to (art.title), art %></h2><br>
        <%= link_to (image_tag art.artpic.url(:medium)), art %>
        <% if user_signed_in? && @user.id == current_user.id %>
          <%= link_to 'Edit', edit_art_path(art) %>
          <%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
	<% end %>

<%#= link_to 'Back', users_path %>
