<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
  <img id="headerlogo" src="../images/fatgallery_logo.png" alt="FATGallery">
</header>

<div id="navbar">

    <div id="navleft">
        <h4>HOME GALLERY <%= link_to 'ARTISTS', artists_path %></h4>
    </div>

    <div id="navright">
    			
					<% if user_signed_in? %>
					    Signed in as <%=current_user.email %>. Not you?
					    <%= link_to "LOGOUT", destroy_user_session_path, :method => :delete %>
					  <% else %>
					    <%= link_to "LOGIN", new_user_session_path %>
					  <% end %>
					

    </div>

</div>

<div id="clearheader"></div>





<%= yield %>

</body>
</html>
