<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>
  <link rel="icon" type="favicon.png" href="/assets/favicon.png">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
  <%= image_tag("/images/fatgallery_logo.png") %>
</header>

<div id="navbar">

    <div id="navleft">
        <%= link_to 'HOME', root_path %> <%= link_to 'GALLERY', arts_path %> <%= link_to 'ARTISTS', artists_path %>
    </div>

    <div id="navright">
    			
					<% if user_signed_in? %>
					    <%= link_to "POST NEW", new_art_path %>
              <%= link_to "MY PROFILE", user_path(current_user) %>
					    <%= link_to "LOGOUT", destroy_user_session_path, :method => :delete %>
					  <% else %>
					    <%= link_to "LOGIN", new_user_session_path %>
					  <% end %>
					

    </div>

</div>

<div id="clearheader"></div>
<div id="noticediv"><h3><%= notice %></h3></div>




<%= yield %>

</body>
</html>
